
body{
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}
#navbar{
    text-align: center;
}

li{
    display: inline;
    vertical-align: top;
    margin: 4%;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    
}
#signup{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 3.5px 10px;
    background-color: rgb(245, 62, 62);

}